extends ./base/layout.pug

block content
    .container
        include ./base/megamenu.pug
    .main.mg_top--x50
        section.container.pd_box--x20.bdr_box.bdr_top--contact
            .Grid.Grid--full
                .content
                    .title.txt_fonTwo.txt_upper.cl--black
                        h3 Enviar un mensaje
            .Grid.Grid--full.contact_form
                from#contact
                    .Grid.Grid--gutters.Grid--1of3
                        .Grid-cell
                            .affair.error
                                label *Asunto
                                input.contac_input(type="text", placeholder="Tipo de Contacto")
                            .fullName.error
                                label *Nombre y Apellidos
                                input.contac_input(type="text", placeholder="Mi nombre completo")
                            .email.error
                                label *Correo Electronico
                                input.contac_input(type="email", placeholder="micorreo@empresa.com")
                            .reference.error
                                label Referencia
                                input.contac_input(type="text", placeholder="No. 12344")
                        .Grid-cell.message.error
                            label *Mensaje
                            textarea.contac_txtArea(type="text", rows="16", cols="60", placeholder="Cuentanos ahora")
                    .Grid.Grid--full
                        .Grid-cell.mg_top--x20.mg_bottom--x20
                            buttom.btn.btn_site Enviar
