extends ./base/layout.pug

block content
    .container
        include ./base/megamenu.pug
    .main
        section.container
            .Grid.Grid--full
                .Grid-cell.mg_top--x50
                    .title.txt_fonTwo.txt_upper.cl--black
                        h4 Historia Acceletated Genetics
                    hr.hr_site.hr_site--full
            .Grid.Grid--gutters.Grid--1of2
                .Grid-cell.mg_top--x50
                    img(src="https://placehold.it/600x350/f20038/fff", alt="Lorem ipsum")
                .Grid-cell.mg_top--x50
                    p <b>Ventaja Genética S.A.S</b>, consectetur adipisicing elit. Possimus sunt accusantium magnam reiciendis architecto accusamus molestias consequuntur maiores ad iusto, corrupti inventore mollitia ipsam fugiat, dolor vero! Inventore, vel, nemo!
                    br
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, sint, repellat! Amet cumque nihil architecto tempore eius voluptates enim nobis, a praesentium incidunt culpa sit, repellat tenetur officia. Dolore, sapiente?
                    br
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ipsum cupiditate voluptatum consequatur, natus quasi aspernatur odit non officiis, voluptate architecto consectetur ab fuga inventore ad. Fugiat, quia consectetur corrupti.
                    br
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ex eligendi ullam maiores quisquam ducimus nam facere quaerat nulla? Expedita unde saepe quos sunt esse ut nobis, odio aspernatur accusamus.

