extends ./base/layout.pug

block content
    .container
        include ./base/megamenu.pug
    main
        section#banner.container
            .Grid.Grid--gutters.Grid--banner
                .Grid-cell.apart.bgc--white.ps_relative
                    span.logo.logo_ac
                .Grid-cell.apart.aside-1
                    .slider
                        .slick_content(style="background-image: url('https://placehold.it/960x650/f20038/fff')")
                            .info
                                .title.txt_size--x50.txt_upper.cl--white
                                    h2 Titulos
                                .subtitle.mg_bottom--x20.txt_capital.cl--white
                                    p subtitulo
                                .sponsor.ps_relative
                                    span.logo.logo_ac
                                //- .click
                                //-     a.btn.btn_site--positive.btn_circle--x50(href="#") ver mas.
                        .slick_content(style="background-image: url(https://placehold.it/960x650/FF8C00/fff)")
                            .info
                                .title.txt_size--x50.txt_upper.cl--white
                                    h2 Mantenemos A los Animales
                                .subtitle.mg_bottom--x20.txt_capital.cl--white
                                    p En las mejores condiciones para garantizar un óptimo desarrollo genetico
                                .sponsor.ps_relative
                                    span.logo.logo_ac
        section#categoriBox.container
            .Grid.Grid--full.mg_bottom--x20
                ul.list_bulls.list--inline.txt_center
                    - for (var x = 0; x < 5; x++)
                        li
                            .bulls
                                .title.txt_upper.mg_bottom--x10
                                    h4 Toro uno
                                .image(style="background-image: url(https://placehold.it/300x300/f20038/fff)")
                            a.btn.btn_ghost(href="#")
        section#categoriBox.container.bgc--silver.pd_top--x20
            .Grid.Grid--full
                .Grid-cell
                    .title.txt_upper.cl--blue.txt_center.mg_bottom--x20
                        h3
                            b Nuevos Toros
                    ul.list_bulls.list--inline.txt_center
                        - for (var x = 0; x < 3; x++)
                            li
                                .bulls.bulls_new
                                    .title.txt_upper.mg_bottom--x10
                                        h3 toro Dos
                                    .image(style="background-image: url(https://placehold.it/300x300/f20038/fff)")
                                a.btn.btn_ghost(href="#")
