footer
    .container
        .Grid.Grid--full
            .Grid-cell
                ul.navigation
                    - for (var x = 0; x < 6; x++)
                        li
                            a item

