section.max.bgc--blue
    .container
        .Grid.Grid--full
            .Grid-cell
                .content.cl--white
                    h3 Suscribete
footer.max.bgc--silver
    .container
        .Grid.Grid--full
            .Grid-cell
                h2 Footer

