header.min.bgc--blue
    .container
        .Grid.Grid--full
            .Grid-cell
                ul.nav_welcome.cl--white.txt_app
                    li
                        small Bienvenidos a Ventaja Genética Distribuidor Autorizado
header.max.bgc--silver
    .container
        .Grid.Grid--gutters.Grid--1of3.Grid--nested
            .Grid-cell
                .content
                    span.logo.logo_vg
                    h1.hidden Ventaja Genetica
            .Grid-cell
                .content
                    .search.mg_top--x50
                        form#searchbox
                            input.field-search(type="text", placeholder="Buscar...")
                            button.btn.btn_search.btn_site--search(type="submit")
                                span.icon.icon-search
            .Grid-cell
                .content
                    .shopping_cart_menu.mg_top--x50
                        .shopping_cart
                            small icon
