.list_bulls
    display: block
    width: 100%
    li
        width: 360px
.bulls
    .title,
    .image
        display: block
    .image
        background-position: center center
        background-repeat: no-repeat
        background-size: 100%
        width: 100%
        height: 150px
        margin-bottom: 10px
