// header
.nav
    &_welcome
        list-style: none
        display: flex
        -webkit-flex-flow: row wrap
        justify-content: flex-end
        padding-top: 2px
        padding-bottom: 2px
        margin: 5px
        a
            text-decoration: none
            display: block
            padding: 1rem
            color: $silver
            &:hover
                color: $white
    &_site
        list-style: none
        +display(flex)
        +justify-content(flex-start)
        padding: 0px
        margin: 0px
        a
            text-decoration: none
            display: block
            padding: 1.2rem 2rem
            color: $blue
            text-transform: uppercase
            font-weight: 700
            &:hover
                color: $gray
            &:active
                color: $gray
.shopping_cart
    background-color: $white
    border-radius: 20px
    padding: 10px 22px 14px
    &_menu
        display: flex
        justify-content: flex-end
        margin-left: 3px
        width: auto
.megamenu
    &_container
        margin: 0
        position: relative
    &_title
        border-width: 0 1px 0 0
        border-style: solid
        border-color: rgba($white, .1)
        padding: 12px
        .title
            h3, h4, h5,
            span.icon
                display: inline-block
            span.icon
                float: right
                margin-top: 2px

    &_v
        left: 0
        position: absolute
        top: 58px
        width: 100%
        z-index: 999
        > ul
            > li
                &:first-child
                    border-top: 1px solid $white
