.cl
    &--white
        color: $white
        +heading
            color: $white
        span.icon
            color: $white

    &--blue
        color: $blue
        +heading
            color: $blue
        span.icon
            color: $blue
    &--black
        color: $black
        +heading
            color: $black
        span.icon
            color: $black
