// text.sass
.title,
.subtitle,
.paragraf
    display: block

//.tag_data
.txt
    &_italic
        font-style: italic
    &_center
        text-align: center
    &_upper
        text-transform: uppercase
    &_capital
        text-transform: capitalize
    &_right
        text-align: right
    &_size
        &--x
            // number
