// variables
$mobile: new-breakpoint(min-width 480px)
$tablet: new-breakpoint(min-width 768px)
$desktop: new-breakpoint(min-width 994px)
$desktop-xl: new-breakpoint(min-width 1200px)

// breakpoints
$S:     768px
$M:     1024px
$L:     1600px

// Colores Base
$white          : #fff
$gainsboro      : #F3F3F3
$lightGray      : #C4C4C4
$silver         : #EBEBEB
$darkGray       : #A9A9A9
$gray           : #808080
$dimGray        : #696969
$lightBlack     : #646464
$black          : #000000

// Colores de sitio
$blue            : #1F7DB5
//$red            : #e4655f
// Fuentes del sitio
$primary-font: 'Raleway', sans-serif
$second-font: 'Oswald', sans-serif

